##  (TASK 1)
# i
    Make a list of products

In [1]:

products = ["pencil", "notebook", "eraser", "marker"]

# ii
    Add two new products at the end

In [ ]:

products.append("sharpener")
products.append("scale")

# iii
    Insert a product at position 2
#   
    (Position 2 means the third place because counting starts from 0)

In [ ]:

products.insert(2, "glue")

# iv
 Print the final list

In [ ]:

print("Updated Product List:")
print(products)

Updated Product List:
['pencil', 'notebook', 'glue', 'eraser', 'marker', 'sharpener', 'scale']

# v
    Explain why a list is good for this

In [12]:

print("Why we use a list:")
print("Because a list can be changed easily â€” we can add, remove, or edit items anytime.")
print("In a shop, new products come and old ones finish, so we need something we can update.")

Why we use a list:
Because a list can be changed easily â€” we can add, remove, or edit items anytime.
In a shop, new products come and old ones finish, so we need something we can update.

# # (Task 2):
            Data Slicing & Indexing
            Given list

In [5]:

temps = [23, 25, 19, 30, 21, 22]

# i
    Access the first, last, and second-to-last items

In [6]:

first = temps[0]       # first item (index starts from 0)
last = temps[-1]       # last item (-1 means from the end)
second_last = temps[-2]  # second-to-last item

print("First temperature:", first)
print("Last temperature:", last)
print("Second-to-last temperature:", second_last)

First temperature: 23
Last temperature: 22
Second-to-last temperature: 21

# ii
    Slice the list to get the middle four values
#  
    middle four are: [25, 19, 30, 21]

In [10]:

middle_four = temps[1:5]   # start at index 1, stop before index 5
print("Middle four values:", middle_four)

Middle four values: [25, 19, 30, 21]

# iii
   Using negative indexing, get the item â€œ21â€
# 
   21 is second item from the end â†’ index -2

In [11]:

temp_21 = temps[-2]
print("Temperature using negative index (-2):", temp_21)

Temperature using negative index (-2): 21

## (Task 3):
     Nested Lists (Students with name, roll, and grades)

# i 
     Create a nested list for 3 students

In [ ]:

students = [
    ["Ali", 101, [80, 90, 85]],
    ["Usman", 102, [88, 92, 80]],
    ["Hassan", 103, [75, 85, 89]]
]

# ii
Change one student's second grade
#
Let's change Ali's second grade (90 â†’ 95)

In [ ]:

students[0][2][1] = 95  # [0] Ali, [2] grades list, [1] second grade

# iii
 Add a fourth grade to one student's grades list
# 
Let's add 82 to Hassan's grades

In [ ]:

students[2][2].append(82)

# iv 
Print all students to see changes

In [ ]:

print("Students Data:")
for student in students:
    print(f"Name: {student[0]}, Roll No: {student[1]}, Grades: {student[2]}")

ðŸ“˜ Students Data:
Name: Ali, Roll No: 101, Grades: [80, 95, 85]
Name: Usman, Roll No: 102, Grades: [88, 92, 80]
Name: Hassan, Roll No: 103, Grades: [75, 85, 89, 82]

## (Task 4):
 List Mutator Methods
#
 Given list

In [14]:

colours = ["red", "green", "blue"]

# i
 Use .append() to add "yellow"

In [16]:

colours.append("yellow")

# ii
 Use .extend() to add ["purple", "orange"]

In [ ]:

colours.extend(["purple", "orange"])

# iii 
 Use .insert() to insert "black" at index 1

In [ ]:

colours.insert(1, "black")

# iv
 Use .remove() to remove "green"

In [ ]:

colours.remove("green")

# v
 Use .pop() to remove the last item and print it

In [ ]:

last_item = colours.pop()
print("Removed last item:", last_item)

Removed last item: orange

# vi
 Print the final list

In [ ]:

print("Final colours list:", colours)

Final colours list: ['red', 'black', 'blue', 'yellow', 'purple']

## (Task 5):
 Using Operators and Built-in Functions

#
 Given list

In [ ]:

numbers = [5, 10, 15, 20]

# i
 Use the 'in' operator to check if 15 is in the list

In [ ]:

check_15 = 15 in numbers
print("Is 15 in the list?", check_15)

Is 15 in the list? True

# ii
 Use + to concatenate [25, 30] to numbers

In [ ]:

new_numbers = numbers + [25, 30]
print("After concatenation:", new_numbers)

After concatenation: [5, 10, 15, 20, 25, 30]

# iii
 Use *2 to repeat the list twice

In [ ]:

repeated_numbers = numbers * 2
print("Repeated list:", repeated_numbers)

Repeated list: [5, 10, 15, 20, 5, 10, 15, 20]

# iv
 Use len(), min(), max(), sum() on numbers

In [ ]:

print("Length of list:", len(numbers))
print("Smallest number:", min(numbers))
print("Largest number:", max(numbers))
print("Sum of numbers:", sum(numbers))

Length of list: 4
Smallest number: 5
Largest number: 20
Sum of numbers: 50

## (Task 6):
 List Comprehensions & Conversion

#
 Given tuple

In [ ]:

values = (2, 4, 6, 8, 10)

# i
 Convert the tuple to a list

In [ ]:

values_list = list(values)
print("Converted list:", values_list)

Converted list: [2, 4, 6, 8, 10]

# ii
 Use a list comprehension to square each value

In [ ]:

squared_list = [x**2 for x in values_list]
print("Squared values:", squared_list)

Squared values: [4, 16, 36, 64, 100]

# iii
 Filter squared values greater than 30

In [ ]:

filtered_list = [x for x in squared_list if x > 30]

# iv
 Print the resulting list

In [ ]:

print("Squared values greater than 30:", filtered_list)

Squared values greater than 30: [36, 64, 100]

##                                                                           (Tuple Task):
 Fixed Configuration

## (TASK 1)
#
 Given tuple

In [18]:

device = ("device01", "192.168.1.10", 8080, True)

# i
 Access each element by index

In [19]:

print("Device Name:", device[0])
print("IP Address:", device[1])
print("Port:", device[2])
print("Status:", device[3])

Device Name: device01
IP Address: 192.168.1.10
Port: 8080
Status: True

# ii
 Attempt to change the port value (will cause error)

In [20]:

try:
    device[2] = 9090
except TypeError:
    print(" Error: Cannot change a tuple. Tuples are immutable (locked).")

 Error: Cannot change a tuple. Tuples are immutable (locked).

# iii
 Convert the tuple to a list to modify it

In [21]:

device_list = list(device)
device_list[2] = 9090  # change the port
print("Modified as list:", device_list)

Modified as list: ['device01', '192.168.1.10', 9090, True]

# iv
 Convert the list back to a tuple

In [ ]:

device = tuple(device_list)
print("Converted back to tuple:", device)

Converted back to tuple: ('device01', '192.168.1.10', 9090, True)

##  (Task 2): 
Creating Tuples & Single-Element Tuple Nuance

# i
 Create a single-element tuple

In [ ]:

single = (5,)
print("Single-element tuple:", single, "Type:", type(single))

Single-element tuple: (5,) Type: <class 'tuple'>

# ii
 Create something that looks like a tuple but isn't

In [ ]:

not_tuple = (5)
print("Not a tuple:", not_tuple, "Type:", type(not_tuple))

Not a tuple: 5 Type: <class 'int'>

# iii
 Create a tuple using range

In [ ]:

t = tuple(range(5))  # numbers from 0 to 4
print("Tuple from range:", t)

Tuple from range: (0, 1, 2, 3, 4)

## ( Task 3):
 Indexing, Slicing, Negative Indices

#
 Given tuple

In [ ]:

weekdays = ("Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun")

# i
 Access the first and last day

In [ ]:

first_day = weekdays[0]
last_day = weekdays[-1]
print("First day:", first_day)
print("Last day:", last_day)

First day: Mon
Last day: Sun

# ii
 Use slicing to get "Wed", "Thu", "Fri"

In [ ]:

mid_days = weekdays[2:5]  # start index 2, stop before 5
print("Middle days:", mid_days)

Middle days: ('Wed', 'Thu', 'Fri')

# iii
 Use negative indexing to get "Sat"

In [ ]:

sat_day = weekdays[-2]  # second last item
print("Day using negative index:", sat_day)

Day using negative index: Sat

## (Task 4):
 Nested Tuples & Mixing

#
 Given tuple with nested tuple and list

In [23]:

data = ("UserA", (2023, 9, 15), ["task1", "task2"])

# i
 Access the date tuple and print year, month, day

In [24]:

date = data[1]  # nested tuple at index 1
year = date[0]
month = date[1]
day = date[2]
print("Year:", year)
print("Month:", month)
print("Day:", day)

Year: 2023
Month: 9
Day: 15

# ii
 Access the list of tasks and add a new task

In [25]:

tasks = data[2]  # list inside the tuple
tasks.append("task3")  # add a new task
print("Updated tasks:", tasks)

#  Explanation
print("Explanation:")
print("Even though the main tuple is immutable, it contains a list (mutable).")
print("We can change the list inside the tuple (like adding/removing items), but we cannot change the tuple itself.")

Updated tasks: ['task1', 'task2', 'task3']
Explanation:
Even though the main tuple is immutable, it contains a list (mutable).
We can change the list inside the tuple (like adding/removing items), but we cannot change the tuple itself.

##  (Task 5): 
Packing & Unpacking Tuples

#
 Given tuple

In [26]:

point = (10, 20, 30)

# i
 Unpack into x, y, z

In [27]:

x, y, z = point
print("Original values - x:", x, "y:", y, "z:", z)

Original values - x: 10 y: 20 z: 30

# ii
 Swap x and z in one line using tuple unpacking

In [28]:

x, z = z, x
print("After swapping - x:", x, "y:", y, "z:", z)

After swapping - x: 30 y: 20 z: 10

# iii
 Pack x, y, z back into a tuple

In [29]:

point2 = (x, y, z)

# iv
 Print both tuples

In [30]:

print("Original tuple:", point)
print("New tuple after swap:", point2)

Original tuple: (10, 20, 30)
New tuple after swap: (30, 20, 10)

## ( Task 6): 
Choosing Tuple vs List

# i
 Define months as a tuple (fixed sequence)

In [31]:

months = ("Jan", "Feb", "Mar", "Apr", "May", "Jun","Jul", "Aug", "Sep", "Oct", "Nov", "Dec")

# iii
 Try to append a month (this will cause an error)

In [32]:

try:
    months.append("Month13")
except AttributeError:
    print("Error: Cannot append to a tuple. Tuples are immutable.")

Error: Cannot append to a tuple. Tuples are immutable.

# iv
 Convert to list if modification is really needed

In [33]:

months_list = list(months)  # convert to list
months_list.append("Month13")  # now we can add
print("Modified months as list:", months_list)

Modified months as list: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec', 'Month13']

## ( Task 7): 
Operators & Built-in Functions with Tuples

#
 Given tuple

In [11]:

nums = (3, 6, 9, 12)

# i
 Use 'in' and 'not in' to test membership

In [12]:

print("Is 6 in nums?", 6 in nums)
print("Is 7 not in nums?", 7 not in nums)

Is 6 in nums? True
Is 7 not in nums? True

# ii
 Concatenate nums with another tuple

In [ ]:

new_nums = nums + (15, 18)
print("After concatenation:", new_nums)

After concatenation: (3, 6, 9, 12, 15, 18)

# iii
 Multiply nums to repeat it 3 times

In [ ]:

repeated_nums = nums * 3
print("Repeated tuple:", repeated_nums)

Repeated tuple: (3, 6, 9, 12, 3, 6, 9, 12, 3, 6, 9, 12)

# iv
 Use len(), min(), max(), sum() on the tuple

In [ ]:

print("Length of nums:", len(nums))
print("Smallest number:", min(nums))
print("Largest number:", max(nums))
print("Sum of numbers:", sum(nums))

Length of nums: 4
Smallest number: 3
Largest number: 12
Sum of numbers: 30